{% extends 'home.html' %}

{% block prof %}
    <form action="" method="POST">
        {{ formset.management_form }}
        <br>
        {% for form in formset %}
            {{ form }} <br>
        {% endfor %}
        <br>
        {% csrf_token %}
        <button type="submit">検索</button>
    </form>
    <hr>

    {% for profile in profile_list %}
        
        名前: {{ profile.name }}
        年齢: {{ profile.age }} 歳
        身長: {{ profile.height }} cm
        体型: {% if profile.body_shape == "1" %}
                スリム
              {% elif profile.body_shape == "2" %}
                やや細め
              {% elif profile.body_shape == "3" %}
                普通
              {% elif profile.body_shape == "4" %}
                グラマー
              {% elif profile.body_shape == "5" %}
                筋肉質
              {% elif profile.body_shape == "6" %}
                ややぽっちゃり
              {% elif profile.body_shape == "7" %}
                ぽっちゃり
              {% endif %}
        職業: {{ profile.job }}
        年収: {{ profile.yearly_income }} 万円
        休日: {{ profile.holidays }}
        学歴: {{ profile.education }}
        居住地: {{ profile.living_in }}
        お酒: {{ profile.alcohol }}
        たばこ: {{ profile.cigarette }}
        <hr>
    {% endfor %}
{% endblock %}